$color-primary: "0,150,136";
$color-primary-dark: "0,121,107"; // 600
$color-accent: "255,110,64";
$color-teal-500: rgb(0,150,136);

$color-teal-100: lighten($color-teal-500, 20%);
$color-teal-200: lighten($color-teal-500, 15%);
$color-teal-300: lighten($color-teal-500, 10%);
$color-teal-400: lighten($color-teal-500, 5%);

$color-teal-600: darken($color-teal-500, 5%);
$color-teal-700: darken($color-teal-500, 10%);
$color-teal-800: darken($color-teal-500, 15%);
$color-teal-900: darken($color-teal-500, 20%);

$color-brand-primary: rgb(0,150,136);
$color-brand-dark: rgb(0,121,107);
$color-brand-accent: rgb(255,110,64);

$color-background-gray: #FAFAFA;
$color-text-gray: rgba(0,0,0,0.87);
$color-text-gray-light: rgba(0,0,0,0.56);

$link-hover-background-dark: rgba(0, 0, 0, 0.06);
$link-active-background-dark: rgba(0, 0, 0, 0.12);

// Text Fields
$input-text-highlight-color: lighten($color-brand-accent, 10%);
$input-text-error-color: #B71C1C;

$grid-desktop-breakpoint: 1040px;
