.account-page {
  .container__hero {
    background: url(/images/default-account-background.jpg) no-repeat center;
    background-size: cover;
  }
  .hero__title {
    line-height: calc(220px - 80px);
  }
}
