.account-page {
  .container__hero {
    background: url(/images/default-account-background.jpg) no-repeat center;
    background-size: cover;
  }

  .rounding-rules {
    position: relative;

    .rounding-rules__table {
      th.rounding-rules__rule-column,
      th.rounding-rules__criteria-column,
      th.rounding-rules__result-column {
        width: 29%;
      }

      th.rounding-rules__edit-column {
        width: 13%;
      }

      td.rounding-rules__result-column {
        font-weight: bold;
      }

      td.rounding-rules__rule-column {
        .rounding-rules__time-input {
          font-size: 13px;
          display: inline-block;
          vertical-align: middle;
        }
        .rounding-rules__time-separator {
          width: 30px;
          text-align: center;
          display: inline-block;
        }
      }
    }
  }
}
