.project-header {
  background: url(/img/default-project-background.jpg) no-repeat center;
  background-size: cover;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

  .project-header__name {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 40px;
    //line-height: calc(220px - 80px);
  }
  .project-header__info {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
  }
  .project-header__action-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 24px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .project-header__actions {
    margin-left: auto;

    .mdl-button--icon {
      height: 48px;
      width: 48px;
      border-radius: 48px;
    }
  }
  .project-header__tabs {
    .mdl-button {
      color: white;
      font-weight: 400;
      height: 56px;
      border-radius: 0;
      padding: 0 12px;

      &.is-active {
        font-weight: 600;
        &:after {
          content: '';
          height: 4px;
          width: 100%;
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: white;
        }
      }
    }
  }
}
