.report {
  @include shadow-4dp();
  background: white;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 28px;
}

.report__header {
  padding: 24px;
}

.report__header-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  .report__title {
    font-weight: 300;
    font-size: 18px;
    color: $color-brand-primary;
  }
  .report__date-range {
    font-weight: 400;
    font-size: 18px;
    color: $color-text-gray-light;
  }
}

.report__header-main {
  display: flex;
  justify-content: space-between;

  .report__header-details {
    display: flex;
  }

  .report__info {
    align-self: center;
  }

  .report__info-title {
    font-size: 22px;
    color: $color-text-gray;
    margin-bottom: 4px;
  }

  .report__info-details {
    color: $color-text-gray-light;
    font-size: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .report__icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: $color-brand-primary;
    color: white;
    display: flex;
    position: relative;
    margin-right: 16px;

    &.report__icon--avatar {
      overflow: hidden;
      .material-icons {
        $size: 86px;
        font-size: $size;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: $size / 2px * -1px;
      }
    }

    i.material-icons {
      font-size: 40px;
      align-self: center;
      margin: 0 auto;
    }
  }

  .report__header-summary {
    text-align: right;
    .report__header-summary-title {
      margin-top: -8px;
      color: $color-text-gray-lighter;
      font-size: 18px;
    }
    .report__header-summary-stat {
      color: $color-brand-accent;
      font-size: 48px;
      line-height: 55px;
      font-weight: 300;
    }
  }
}

.report__data {
  width: 100%;

  .report__data-total {
    .total__label {
      margin-right: 24px;
    }
    .total__data {
      color: $color-brand-accent;
      font-weight: 400;
      width: 48px;
      display: inline-block;
    }
  }

  .report__data-adjustment {
    border-top: $data-table-dividers;
    border-bottom: $data-table-dividers;

    .adjustment__label {
      margin-right: 24px;
    }
    .adjustment__data {
      width: 48px;
      font-weight: 400;
      display: inline-block;
    }
    &--negative {
      .adjustment__data {
        color: #F44336;
      }
    }
  }

  .report__data--job-col {
    max-width: 180px;
  }
}

.table {
  position: static;
  border-top: 1px solid rgba(#000, 0.12);
  border-collapse: collapse;
  white-space: nowrap;
  font-size: $data-table-font-size;

  thead th, tfoot th {
    height: 56px;
    padding-top: 12px;
    vertical-align: middle;
  }

  tbody {
    tr {
      position: relative;
      height: $data-table-row-height;
    }
  }

  td, th {
    padding: 0 $data-table-column-padding 12px $data-table-column-padding;
    text-align: right;

    &:first-of-type {
      padding-left: 24px;
    }

    &:last-of-type {
      padding-right: 24px;
    }
  }

  td {
    position: relative;
    vertical-align: middle;
    height: $data-table-row-height;
    border-top: $data-table-dividers;
    border-bottom: $data-table-dividers;
    padding-top: $data-table-cell-top;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;

    .mdl-data-table__select {
      vertical-align: middle;
    }
  }

  th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    @include typo-body-2();
    height: $data-table-row-height;
    font-size: $data-table-header-font-size;
    color: $data-table-header-color;
    padding-bottom: 8px;
    box-sizing: border-box;

    &.table__header--sorted-ascending,
    &.table__header--sorted-descending {
      color: $data-table-header-sorted-color;
      &:before {
        @include typo-icon;
        font-size: $data-table-header-sort-icon-size;
        content: "\e5d8";
        margin-right: 5px;
        vertical-align: sub;
      }
      &:hover {
        cursor: pointer;
        &:before {
          color: $data-table-header-sorted-icon-hover-color;
        }
      }
    }
    &.table__header--sorted-descending:before {
      content: "\e5db";
    }
  }
  .table__cell--non-numeric {
    text-align: left;
  }

  .table__cell--empty {
    text-align: center;
    color: $color-text-gray-lighter;
    font-weight: 400;
  }

}

.print-header {
  padding: 24px;
  //margin-bottom: 24px;
  border-bottom: 1px solid #ddd;
  img {
    width: 100px;
  }
}

@media print {
  body {
    background: white;
    color: black;
    margin: 0
  }
  .report {
    page-break-inside: avoid;
  }
  .report__icon {
    display: none !important;
  }
  button {
    display: none !important;
  }
  table tbody tr {
    height: auto !important;
  }
  .table thead th, .table tfoot th {
    height: auto !important;
  }
  .table td {
    height: auto !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  .report__info-title {
    font-size: 18px !important;
  }
  .report__info-details {
    font-size: 13px !important;
  }
  .report__header-summary-stat {
    font-size: 24px !important;
  }
  .report__header-summary-title {
    font-size: 12px !important;
  }
}
