@import "material-design-lite/src/mixins";
@import "base/variables";
@import "base/animations";

.terminal {
  .terminal__clock {
    font-size: 108px;
    font-weight: 100;
    text-align: center;
    line-height: 108px;

    .clock__am-pm {
      font-size: 25px;
      text-transform: uppercase;
      margin-left: -20px;
    }
  }
  .terminal__prompt {
    @include shadow-4dp();
    @include animate-fade-in();

    max-width: 500px;
    margin: 50px auto 0;
    border-radius: 4px;
    position: relative;
    color: $color-text-gray;

    .prompt__icon {
      @include shadow-4dp();
      width: 108px;
      height: 108px;
      border-radius: 50%;
      background: $color-brand-accent;
      color: white;
      position: absolute;
      top: -54px;
      left: 50%;
      margin-left: -54px;
      display: flex;

      i.material-icons {
        font-size: 64px;
        align-self: center;
        margin: 0 auto;

        &.prompt__icon-sub {
          position: absolute;
          right: 24px;
          bottom: 24px;
          font-size: 24px;
          border-radius: 50%;
          color: #ff6e40;
          background: white;
        }
      }
    }

    .prompt__instructions {
      padding: 16px 24px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
    .prompt__actions {
      display: flex;
      flex-flow: row-reverse;
      align-items: center;
    }
    .prompt__toolbar {
      background: $color-brand-dark;
      padding: 12px;

      // an extra pixel on the bottom to hide imperfection :)
      margin: 40px -40px -41px;

      border-radius: 0 0 4px 4px;

      .toolbar__button {
        position: relative;
        overflow: hidden;
        border: 0;
        color: white;
        background: rgba(0, 0, 0, 0);
        transition: background 0.2s;
        font-size: 15px;
        cursor: pointer;
        outline: none;
        padding: 6px 12px;
        border-radius: 4px;
        //&:hover {
        //  background: rgba(0, 0, 0, 0.10);
        //}
        //&:active {
        //  background: rgba(0, 0, 0, 0.15);
        //}
        .mdl-ripple {
          //background: $color-brand-primary;
        }
        .button__icon {
          margin-right: 8px;
          vertical-align: middle;
        }
        .button__text {
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px;
          font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
        }
        .button__dropdown-icon {
          vertical-align: middle;
        }
      }
    }
  }
}
