@import "material-design-lite/src/mixins";
@import "base/variables";
@import "base/animations";

.terminal {
  .terminal__clock {
    font-size: 108px;
    font-weight: 100;
    text-align: center;
    line-height: 108px;

    .clock__am-pm {
      font-size: 25px;
      text-transform: uppercase;
      margin-left: -20px;
    }
  }
  .terminal__prompt {
    @include shadow-4dp();
    @include animate-fade-in();

    max-width: 500px;
    margin: 50px auto 0;
    border-radius: 4px;
    position: relative;
    color: $color-text-gray;

    .prompt__icon {
      @include shadow-4dp();
      width: 108px;
      height: 108px;
      border-radius: 50%;
      background: $color-brand-accent;
      color: white;
      position: absolute;
      top: -54px;
      left: 50%;
      margin-left: -54px;
      display: flex;

      &.prompt__icon--avatar {
        overflow: hidden;
        .material-icons {
          $size: 136px;
          font-size: $size;
          position: absolute;
          left: 50%;
          margin-left: $size / 2px * -1px;
          top: -4px;
        }
      }

      i.material-icons {
        font-size: 64px;
        align-self: center;
        margin: 0 auto;

        &.prompt__icon-sub {
          position: absolute;
          right: 24px;
          bottom: 24px;
          font-size: 24px;
          border-radius: 50%;
          color: #ff6e40;
          background: white;
        }
      }
    }
    .prompt__header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      margin: 20px -40px 20px -40px;
      padding: 12px 40px;
      text-align: center;

      .prompt__title {
        font-size: 36px;
        font-weight: 300;
        margin: 0;
      }
      .prompt__subtext {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        color: $color-text-gray-lighter;
      }
    }
    .prompt__instructions {
      padding: 16px 24px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;

      &--subdued {
        font-weight: 300;
        color: $color-text-gray-light;
        font-size: 20px;
      }
      &--min-spacing {
        padding: 0 0 24px;
        margin: 0;
      }
      &--min-bottom-spacing {
        padding-bottom: 0;
        margin-bottom: 12px;
      }
    }
    .prompt__actions {
      display: flex;
      flex-flow: row-reverse;
      align-items: center;
      margin-bottom: -16px;
    }
    .prompt__toolbar {
      background: $color-brand-dark;
      padding: 12px;

      // an extra pixel on the bottom to hide imperfection :)
      margin: 40px -40px -41px;

      border-radius: 0 0 4px 4px;

      .toolbar__button {
        position: relative;
        overflow: hidden;
        border: 0;
        color: white;
        background: rgba(0, 0, 0, 0);
        transition: background 0.2s;
        font-size: 15px;
        cursor: pointer;
        outline: none;
        padding: 6px 12px;
        border-radius: 4px;
        //&:hover {
        //  background: rgba(0, 0, 0, 0.10);
        //}
        //&:active {
        //  background: rgba(0, 0, 0, 0.15);
        //}
        .mdl-ripple {
          //background: $color-brand-primary;
        }
        .button__icon {
          margin-right: 8px;
          vertical-align: middle;
        }
        .button__text {
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px;
          font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
        }
        .button__dropdown-icon {
          vertical-align: middle;
        }
      }
    }
  }
}

.terminal__prompt.express-clock-in {
  .prompt__instructions {
    margin-bottom: 6px;
    padding-bottom: 0;
    &--subdued {
      margin-bottom: 12px;
    }
  }
}
.selected-job {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 24px;

  .selected-job__icon {
    width: 28px;
    height: 28px;
    background-color: $color-brand-primary;
    transition: background-color 0.2s;
    border-radius: 50%;
    text-align: center;
    margin-right: 12px;
    flex: none;

    i.material-icons {
      font-size: 16px;
      line-height: 28px;
      color: white;
    }
  }
  .selected-job__body {
    font-size: 16px;
    flex-grow: 2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .selected-job__body-secondary {
      color: $color-text-gray-light;
      font-size: 14px;
      margin-left: 8px;
    }
  }
}

.shifts-container {
  margin-top: 40px;
  .shifts-container__header {
    padding: 16px 16px 0;
    display: flex;
    h3 {
      font-size: 20px;
      font-weight: 400;
      margin: 0;
      padding: 0;
    }
  }

  .shift-item {
    @include shadow-2dp();
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    border-radius: 4px;
    color: $color-text-gray;

    &.shift-item--paused .shift-item__icon {
      background: $color-brand-accent;
    }

    .shift-item__icon {
      flex: none;
      background: $color-brand-primary;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      margin: 8px 4px 8px 12px;
      i.material-icons {
        color: white;
        line-height: 40px;
      }
    }
    .shift-item__content {
      flex-grow: 2;
      margin-right: 12px;
      padding: 8px 12px;
      white-space: nowrap;
      overflow: hidden;

      .shift-item__content-line-one,
      .shift-item__content-line-two,
      .shift-item__content-line-three {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .shift-item__content-line-one {
        font-size: 15px;
        font-weight: 400;
        display: block;
      }
      .shift-item__content-line-two,
      .shift-item__content-line-three {
        font-size: 12px;
        color: $color-text-gray-light;
        line-height: 14px;
      }
    }
    .shift-item__actions {
      padding: 6px 12px;
      background: rgba(0, 0, 0, 0.08);
      flex: none;
      width: 100%;
    }
  }

  .shifts__loader {
    display: none;
    .app__loading {
      margin-left: 12px;
      padding: 10px 0;
      > div {
        background-color: white;
      }
    }
  }

  &.shifts-container--loading {
    .shifts__loader {
      display: block;
    }
    .content__empty {
      display: none;
    }
  }

  .content__empty {
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.67);
    padding: 0;
    text-align: left;
    display: flex;
    align-items: center;

    .empty__text {
      margin-left: 16px;
    }
    .empty__heading {
      font-size: 18px;
      margin: 0;
    }
    .empty__subhead {
      font-size: 14px;
      margin: 0;
    }
  }
}
