/vendor
/node_modules
/bower_components
/public/storage
Homestead.yaml
Homestead.json
.env
/.idea/
.phpstorm.meta.php
_ide_helper.php
/resources/assets/vendor-sass
/public/css/main.css
/public/js/main.js
/public/js/main.js.map
