.sidebar {
  position: relative;

  &.sidebar--loading {
    .sidebar__loader {
      display: block;
      position: absolute;
      top: 40px;
      left: 50%;
      z-index: 10;
      margin-left: -35px;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
}
.sidebar__loader {
  display: none;
}

.sidebar__heading {
  padding: 22px 24px;
  border-bottom: 1px solid #efefef;
  .sidebar__icon {
    vertical-align: text-bottom;
    margin-right: 8px;
  }
  .sidebar__title {
    font-weight: 300;
    font-size: 22px;
  }
}

.sidebar__content {
  height: calc(100vh - 72px);
  padding: 24px;
  overflow-y: auto;
  overflow-x: hidden;
  &--no-padding {
    padding: 0;
  }
  .clock-list {
    margin: 0;
    .mdl-list__item:not(.animate) {
      animation: move 0.4s ease-out;
    }
    .mdl-list__item-primary-content {
      flex: 1 0 auto;
      .mdl-list__item-title {
        text-overflow: ellipsis;
        max-width: 120px;
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
      }
    }
    .mdl-list__item-secondary-content {
      color: $color-text-gray-light;
      .mdl-list__item-secondary-line-one {
        font-size: 14px;
        padding: 8px 0 12px;
      }
      .mdl-list__item-secondary-line-two {
        font-size: 12px;
      }
    }
    .mdl-list__item-avatar {
      background-color: $color-brand-primary;
      display: block;
      overflow: hidden;
      position: relative;

      .material-icons {
        font-size: 44px;
        position: absolute;
        left: 50%;
        top: 4px;
        margin-left: -22px;
      }
    }
  }
}

.sidebar__empty {
  padding: 40px;
  text-align: center;
  color: $color-text-gray-light;
  opacity: 0.6;
}
