.overlay {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  // The opacity definition here is meaningless at first glance,
  // but it plays a key role in the destruction of the overlay.
  // It's necessary to make the non-first overlays work well
  // with `transitionend` events.
  transition: background-color 0.2s, opacity 0.2s;
  opacity: 0;

  &.overlay--visible {
    opacity: 1.0;
  }
}

.app__overlay-container .overlay {
  &:first-of-type.overlay--visible {
    @include animate-fade-in(0.2s);
    background: rgba(0, 0, 0, 0.40);
  }
}

body.overlay-opened {
  overflow: hidden;
}
