@import "base/variables";

.section {
  margin-bottom: 80px;

  .section__header {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-wrap: nowrap;

    &--no-title {
      justify-content: flex-end;
      margin-bottom: 16px;
      button {
        margin-left: 16px;
      }
    }

    .header__title {
      display: flex;
      font-size: 24px;
      color: $color-text-gray-light;
      float: left;
      flex-grow: 2;
      order: 0;
      margin: 0 0 16px 0;
    }
    .header__button {
      display: flex;
      align-items: flex-end;
      float: left;
    }
  }
  .section__caption {
    font-size: 12px;
    color: $color-text-gray-light;
  }
}
