.table {
  position: static;
  border-top: 1px solid rgba(#000, 0.12);
  border-collapse: collapse;
  white-space: nowrap;
  font-size: $data-table-font-size;

  &.table--full-width {
    width: 100%;
  }

  thead th, tfoot th {
    height: 56px;
    padding-top: 12px;
    vertical-align: middle;
  }

  tbody {
    tr {
      position: relative;
      height: $data-table-row-height;
    }
  }

  td, th {
    padding: 0 $data-table-column-padding 12px $data-table-column-padding;
    text-align: right;

    &:first-of-type {
      padding-left: 24px;
    }

    &:last-of-type {
      padding-right: 24px;
    }
  }

  td {
    position: relative;
    vertical-align: middle;
    height: $data-table-row-height;
    border-top: $data-table-dividers;
    border-bottom: $data-table-dividers;
    padding-top: $data-table-cell-top;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;

    .mdl-data-table__select {
      vertical-align: middle;
    }
  }

  th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    @include typo-body-2();
    height: $data-table-row-height;
    font-size: $data-table-header-font-size;
    color: $data-table-header-color;
    padding-bottom: 8px;
    box-sizing: border-box;

    &.table__header--sorted-ascending,
    &.table__header--sorted-descending {
      color: $data-table-header-sorted-color;
      &:before {
        @include typo-icon;
        font-size: $data-table-header-sort-icon-size;
        content: "\e5d8";
        margin-right: 5px;
        vertical-align: sub;
      }
      &:hover {
        cursor: pointer;
        &:before {
          color: $data-table-header-sorted-icon-hover-color;
        }
      }
    }
    &.table__header--sorted-descending:before {
      content: "\e5db";
    }
  }
  .table__cell--non-numeric {
    text-align: left;
  }

  .table__cell--empty {
    text-align: center;
    color: $color-text-gray-lighter;
    font-weight: 400;
  }

  td.table__cell--edit {
    overflow: visible;
    .mdl-button {
      i.material-icons {
        font-size: 16px;
        color: $color-text-gray-light;
        &:hover {
          color: $color-brand-accent;
        }
      }
    }
  }

  .table__empty {
    text-align: center;
    padding: 50px;
    background: #f8f8f8;
  }

}
