@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';
@import 'base/helpers';

@import 'material-design-lite/src/material-design-lite';

// Built using gulp sass:prepare
//noinspection CssUnknownTarget
@import 'nprogress';

@import 'overrides/mdl-textfield';
@import 'overrides/mdl-radio';
@import 'overrides/mdl-button';
@import 'overrides/mdl-list';

@import 'components/card';
@import 'components/settings-card';
@import 'components/collection-card';
@import 'components/container';
@import 'components/content';
@import 'components/navbar';
@import 'components/notification';
@import 'components/footer';
@import 'components/section';
@import 'components/dialog';
@import 'components/action-sheet';
@import 'components/overlay';
@import 'components/loading';
@import 'components/spacer';
@import 'components/badge';
@import 'components/mini-chooser';

@import 'layout/sidebar';

@import 'pages/account';
@import 'pages/terminal';

* {
  box-sizing: border-box;
}

html, body {
  background-color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

a[data-internal] * {
  pointer-events: none;
}

.app {
  .app__main-container {
    width: 100%;
    //transition: width 0.3s ease-out;
  }
  .app__sidebar-container {
    position: fixed;
    top: 0;
    right: -330px; //hidden
    height: 100vh;
    width: 330px;
    background: white;
    //transition: right 0.3s ease-out;
  }
  &--with-sidebar {
    .app__main-container {
      width: calc(100% - 330px);
    }
    .app__sidebar-container {
      @include shadow-6dp();
      right: 0;
    }
    .notification-container {
      right: 330px + 24px;
    }
  }
}
.app__content-region .container {
  min-height: calc(100vh - 114px);
  /*
  // Fixed Height Version
  height: calc(100vh - 114px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  */
}


// Navbar Overrides
.navbar {
  .navbar__logo {
    background-size: auto 30px;
  }
}

// Helpers
.text--hint {
  color: $color-text-gray-light;
}
