.mdl-tabs__panel--padded {
  padding-top: 16px;
}

.mdl-tabs__tab--active {
  color: rgba(0,0,0, 0.87);

  &:after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgb(0,150,136);
    animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
    transition: all 1s cubic-bezier(0.4, 0, 1, 1);
  }
}

.mdl-tabs__tab .mdl-ripple {
  background: $color-brand-primary;
}
